:root {
  
  --primary-black: #000000;
  --primary-neutral: #404040;
  --primary-white: #ffffff;
  
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-500: #71717a;
  --zinc-800: #27272a;

  --error-500: #ef4444;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Sora", serif;
  display: grid;
}

body.lock {
  overflow: hidden;
}

#root {

  display: grid;
  row-gap: 80px;
}

h1 {font-size: 3rem;} /* 48px */
h2 {font-size: 3rem;} /* 32px */
h3 {font-size: 1.75rem;}  /* 28px */
h4 {font-size: 1.5rem;} /* 24px */
h5 {font-size: 1.25rem;}  /* 20px */
h6 {font-size: 1rem;} /* 1px */

p {font-size: 1.25rem;} /* 20px */

button {font-size: 1.25rem;}  /* 20px */

@media (max-width:767px) {
  p {font-size: 1rem;}  /* 1px */
}

@media (max-width:424px) {
  button {font-size: 1rem;} /* 1px */
}